<ng-container class="content-center justify-center bg-blue-900">

    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            (click)="get500Error()"> Test 500 Error</button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            (click)="get400Error()"> Test 400 Error</button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            (click)="get401Error()"> Test 401 Error</button>
    <button class="bg-blue-404 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            (click)="get404Error()"> Test 404 Error</button>
    <button class="bg-blue-404 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            (click)="get400ValidationError()"> Test 400 Validation Error</button>

    <div class="row-auto mt-5" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                    {{error}}
            </li>
        </ul>
    </div>
</ng-container>