<!-- User card-->
<div *ngIf="member && !isMemberBlocked && !isUserBlocked">

    @if (member.bannerPic) {
        <div class="w-full bg-cover bg-no-repeat bg-center" 
            style="height: 200px; background-image: url({{member.bannerPic}});">
            <img class="opacity-0 w-full h-full" src="{{member.bannerPic}}" alt="">
        </div>
    }@else {
        <div class="w-full bg-cover bg-no-repeat bg-center" 
            style="height: 200px; background-image: url('/assets/images/sin_banner.png');">
            <img class="opacity-0 w-full h-full" src="assets\images\sin_banner.png" alt="">
        </div>
    }
    
    <div class="p-4">
        <div class="relative flex w-full">
            <!-- Profile Pic -->
            <div class="flex flex-1">
                <div style="margin-top: -6rem;">
                    <div style="height:9rem; width:9rem;" class="md rounded-full relative avatar ">
                        @if (member.profilePic) {
                            <img style="height:9rem; width:9rem;" class="md rounded-full relative border-4 border-gray-900" 
                                src="{{member.profilePic}}" alt="">
                        }@else {
                            <img style="height:9rem; width:9rem;" class="md rounded-full relative border-4 border-gray-900" 
                                src="assets\images\sin_cara.png" alt="">
                        }

                        <div *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.username)">
                            <span class="w-8 h-8 rounded-full bg-green-500 
                                border-2 border-gray-900 absolute bottom-0 right-0">
                            </span>
                        </div>
                        <div *ngIf="!(presenceService.onlineUsers$ | async)?.includes(member.username)">
                            <span class="w-8 h-8 rounded-full bg-red-500 
                                border-2 border-gray-900 absolute bottom-0 right-0">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Chat Button -->
            <div class="flex-col mr-4 rounded-full p-2
                    hover:bg-opacity-50 hover:bg-blue-600 hover:cursor-pointer "
                    *ngIf="!isUser" routerLink="/messages/{{member.username}}"
                    (click)="chatButton(member.username)">
                <img class="h-8 hover:cursor-pointer ml-auto" 
                    src="assets\images\icons\profile\chatW.png">
            </div>

            <!-- Delete User Button -->
            <div class="flex-col mr-4" *ngIf="!isUser && hasAdminRole()">
                <button class="border bg-transparent border-red-500 text-white
                    hover:bg-red-500 py-1 px-2 rounded-full" (click)="notice()">
                    {{'profile.delete_user' | translate}} 
                </button>
            </div>

            <!-- Block User Button -->
            <div class="flex-col mr-4" *ngIf="!isUser">
                <button class="border bg-transparent border-red-500 text-white
                    hover:bg-red-500 py-1 px-2 rounded-full"
                    (click)="block(member)">
                    {{'profile.block' | translate}}
                </button>
            </div>

            <!-- Edit or Follow Button -->
            <div class="flex flex-col text-right">
                <!-- Edit Button -->
                <button class="border bg-transparent border-blue-500 text-white
                    hover:bg-blue-500  py-1 px-2 rounded-full"
                    *ngIf="isUser" (click)="editProfile(member)">
                    {{'profile.edit_profile' | translate}}
                </button>
                <!-- Follow Button -->
                <button class="border bg-transparent border-blue-500 text-white
                    hover:bg-blue-500  py-1 px-2 rounded-full"
                    (click)="follow(member)" *ngIf="!isUser && !isFollow">
                    {{'profile.follow' | translate}}
                </button>
                <!-- Unfollow Button -->
                <button class="border bg-transparent border-blue-500 text-white
                    hover:bg-blue-500 py-1 px-2 rounded-full"
                    (click)="unfollow(member)" *ngIf="!isUser && isFollow">
                    {{'profile.unfollow' | translate}}
                </button>
            </div>
        </div>

            <!-- Profile info -->
        <div class="space-y-1 justify-center w-full mt-3 ml-3" >
            <!-- User basic-->
            <div >
                <h2 class="text-xl leading-6 font-bold text-white">{{ member.displayname }}</h2>
                <p class="text-sm leading-5 font-medium text-gray-400">&#64;{{ member.username }}</p>
            </div>
            <!-- Description and others -->
            <div class="mt-3">
                    <p class="text-white leading-tight mb-2">
                        {{member.about}}
                    </p>
                <div class="text-gray-400 flex">
                    
                    <span class="flex mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 paint-icon"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                    d="M12 22s-5-9.934-5-13a5 5 0 0 1 10 0c0 3.066-5 13-5 13z"/>
                            <circle cx="12" cy="10" r="3" fill="currentColor"/>
                        </svg>
                        {{ member.location }} 
                    </span>

                    <span class="flex mr-2">
                        <svg viewBox="0 0 24 24" class="h-5 w-5 paint-icon">
                            <g>
                                <path d="M19.708 2H4.292C3.028 2 2 3.028 2 4.292v15.416C2 20.972 3.028 22 4.292 22h15.416C20.972 22 22 20.972 22 19.708V4.292C22 3.028 20.972 2 19.708 2zm.792 17.708c0 .437-.355.792-.792.792H4.292c-.437 0-.792-.355-.792-.792V6.418c0-.437.354-.79.79-.792h15.42c.436 0 .79.355.79.79V19.71z">

                                </path>
                                <circle cx="7.032" cy="8.75" r="1.285"></circle>
                                <circle cx="7.032" cy="13.156" r="1.285"></circle>
                                <circle cx="16.968" cy="8.75" r="1.285"></circle>
                                <circle cx="16.968" cy="13.156" r="1.285"></circle>
                                <circle cx="12" cy="8.75" r="1.285"></circle>
                                <circle cx="12" cy="13.156" r="1.285"></circle>
                                <circle cx="7.032" cy="17.486" r="1.285"></circle>
                                <circle cx="12" cy="17.486" r="1.285"></circle>
                            </g>
                        </svg>
                        <span class="leading-5 ml-1">
                            {{'profile.joined' | translate}} December, 2019
                        </span>
                    </span>
                </div>
            </div>
            <div class="pt-3 flex justify-start items-start w-full divide-x divide-gray-800 divide-solid">
                <div class="text-center pr-3">
                    <span class="font-bold text-white">
                        {{member.followingCount}}
                    </span>
                    <span class="text-gray-400">
                        {{'profile.following' | translate}}
                    </span>
                </div>
                <div class="text-center px-3">
                    <span class="font-bold text-white">{{member.followerCount}}</span>
                    <span class="text-gray-400"> {{'profile.followers' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
    <hr class="border-gray-800">
</div>


<!--Profile when user blocks this member-->
<div *ngIf="member && isMemberBlocked">
    <div class="w-full bg-cover bg-no-repeat bg-center" style="height: 200px; background-image: url({{member.bannerPic}});">
        <img class="opacity-0 w-full h-full" src="{{member.bannerPic}}" alt="">
    </div>
    
    <div class="p-4">
        <div class="relative flex w-full">
            <!-- Avatar -->
            <div class="flex flex-1">
                <div style="margin-top: -6rem;">
                    <div style="height:9rem; width:9rem;" class="md rounded-full relative avatar">
                        <img style="height:9rem; width:9rem;" class="md rounded-full relative border-4 border-gray-900" 
                            src="{{member.profilePic}}" alt="">
                        <div class="absolute"></div>
                    </div>
                </div>
            </div>
            
            <!-- Delete User Button -->
            <div class="flex-col mr-4" *ngIf="!isUser && hasAdminRole()">
                <button class="border bg-transparent border-red-500 text-white
                    hover:bg-red-500 py-1 px-2 rounded-full">
                    {{'profile.delete_user' | translate}}
                </button>
            </div>

            <!-- Unblock User Button -->
            <div class="flex-col mr-4" *ngIf="!isUser">
                <button class="border bg-transparent border-red-500 text-white
                    hover:bg-red-500 py-1 px-2 rounded-full"
                    (click)="unblock(member)">
                    {{'profile.unblock' | translate}}
                </button>
            </div>
        </div>

            <!-- Profile info -->
        <div class="space-y-1 justify-center w-full mt-3 ml-3" >
            <!-- User basic-->
            <div >
                <h2 class="text-xl leading-6 font-bold text-white">{{ member.displayname }}</h2>
                <p class="text-sm leading-5 font-medium text-gray-400">&#64;{{ member.username }}</p>
            </div>
        </div>
    </div>
</div>


<!--Profile when this member blocks the user-->
<div *ngIf="member && isUserBlocked">
    <div class="w-full bg-cover bg-no-repeat bg-center" style="height: 200px; background-image: url('assets/sin_banner.png');">
        <img class="opacity-0 w-full h-full" src="assets/sin_banner.png" alt="">
    </div>
    
    <div class="p-4">
        <div class="relative flex w-full">
            <!-- Avatar -->
            <div class="flex flex-1">
                <div style="margin-top: -6rem;">
                    <div style="height:9rem; width:9rem;" class="md rounded-full relative avatar">
                        <img style="height:9rem; width:9rem;" class="md rounded-full relative border-4 border-gray-900" 
                            src="assets\Sin_cara.png" alt="">
                        <div class="absolute"></div>
                    </div>
                </div>
            </div>
        </div>

            <!-- Profile info -->
        <div class="space-y-1 justify-center w-full mt-3 ml-3" >
            <!-- User basic-->
            <div >
                <h2 class="text-xl leading-6 font-bold text-white">{{ member.displayname }}</h2>
                <p class="text-sm leading-5 font-medium text-gray-400">&#64;{{ member.username }}</p>
            </div>
        </div>
    </div>
</div>
