<div class="p-3 text-white bg-gray-800 flex flex-col ">
    <h2 mat-dialog-title class="text-lg font-semibold mb-4 text-center">Explore Users</h2>

    <div *ngFor="let member of members" class="flex hover:bg-gray-700 transition ease-in-out duration-150 rounded-md">
        <div class="flex-1 cursor-pointer" (click)="navigateToProfile(member.username)">
            <div class="flex items-center">
                @if (member.profilePic) {
                    <img class="inline-block h-10 w-10 rounded-full mx-1 my-2" [src]="member.profilePic" alt="">
                }@else {
                    <img class="inline-block h-10 w-10 rounded-full mx-1 my-2" src="assets\images\sin_cara.png" alt="">
                }
                <div class="ml-2">
                    <p class="text-base leading-6 font-medium text-white hover:underline">{{ member.displayname }}</p>
                    <p class="text-sm leading-5 font-medium text-gray-400 transition ease-in-out duration-150">
                        &#64;{{ member.username }}
                    </p>
                </div>
            </div>
        </div>

        <div class="flex items-center">
            <button
                class="bg-transparent text-white py-2 px-2 border rounded-full"
                [ngClass]="{'border-blue-500 hover:bg-blue-500 hover:border-transparent': !connectionMap.get(member.id),
                            'border-red-500 hover:bg-red-500 hover:border-transparent': connectionMap.get(member.id)}"
                (click)="toggleConnectionStatus(member)">
                {{ (connectionMap.get(member.id) ? 'profile.unfollow' : 'profile.follow') | translate }}
            </button>
        </div>
    </div>

    <!--
    <button class="border bg-transparent border-blue-500 text-white
        hover:bg-blue-500  py-1 px-2 rounded-full"
        (click)="follow(member)" *ngIf="!isUser && !isFollow">
        {{'profile.follow' | translate}}
    </button>

    <button class="border bg-transparent border-blue-500 text-white
        hover:bg-blue-500 py-1 px-2 rounded-full"
        (click)="unfollow(member)" *ngIf="!isUser && isFollow">
        {{'profile.unfollow' | translate}}
    </button>

    <button
        class="bg-transparent text-white py-2 px-2 border rounded-full"
        [ngClass]="{'border-blue-500 hover:bg-blue-500 hover:border-transparent': !blockStatusMap.get(member.id),
                    'border-red-500 hover:bg-red-500 hover:border-transparent': blockStatusMap.get(member.id)}"
        (click)="toggleBlockStatus(member.id)">
        {{ (blockStatusMap.get(member.id) ? 'profile.unblock' : 'profile.block') | translate }}
    </button>
    -->

    <!-- Show more -->
    <div class="flex justify-center p-1">
        <h2 class="ml-2 font-bold text-blue-400 hover:cursor-pointer hover:underline" 
            (click)="loadMembers()">
            {{ 'sidebar-right.show_more' | translate }}
        </h2>
    </div>

    <button mat-button (click)="ok()"
            class="bg-blue-500 hover:bg-blue-700 rounded-md p-2 mt-3"
            style="outline: none;">OK</button>
</div>