<!-- Navbar (left side) -->
<div *ngIf="(accountService.currentUser$ | async) as user">
    <img src="assets\images\logo.png" class="w-2/3 ml-4 mt-5">

    <!-- Nav-->
    <nav class="mt-5 px-2 ">
        <!--
        <a class="group flex items-center py-5 px-2 text-2xl leading-6 font-semibold rounded-full 
                hover:bg-gray-800 hover:text-blue-300"
                routerLink="/home">
        -->
        <a class="group nav-button" routerLink="/home">
            <svg class="mr-4 h-6 w-6 " stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l9-9 9 9M5 10v10a1 1 0 001 1h3a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1h3a1 1 0 001-1V10M9 21h6"></path>
            </svg>
            {{ 'sidebar-left.home' | translate }}
        </a>

        <a class="group nav-button" routerLink="/profile/{{user.username}}">
            <svg class="mr-4 h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                <path d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
            </svg>
            {{ 'sidebar-left.profile' | translate }}
        </a>

        <a class="group nav-button" routerLink="/notifications" routerLinkActive="active">
            <svg class="mr-4 h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                <path d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9">
                </path>
            </svg>
            {{ 'sidebar-left.notifications' | translate }}
        </a>

        <a class="group nav-button" routerLink="/messages" routerLinkActive="active">
            <svg class="mr-4 h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                <path d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z">
                </path>
            </svg>
            {{ 'sidebar-left.messages' | translate }}
        </a>

        <a class="group nav-button" routerLink="/bookmarks">
            <svg class="mr-4 h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                <path d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path>
            </svg>
            {{ 'sidebar-left.bookmarks' | translate }}
        </a>

        <a class="group nav-button" routerLink="/settings">
            <svg class="mr-4 h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
            stroke="currentColor" viewBox="0 0 24 24">
                <path d="M16 3l5 5L3 21 8 16 16 3z"></path>
            </svg>
            {{ 'sidebar-left.settings' | translate }}
        </a>

        <a class="group nav-button" routerLink="/connections">
            <svg class="mr-4 h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" 
                stroke="currentColor" viewBox="0 0 24 24">
                <circle cx="8" cy="12" r="1" fill="currentColor" />
                <circle cx="12" cy="12" r="1" fill="currentColor" />
                <circle cx="16" cy="12" r="1" fill="currentColor" />
            </svg>
            {{ 'sidebar-left.connections' | translate }}
        </a>

        <a class="group nav-button" routerLink="/admin" *appHasRole="['Admin']">
            <svg class="mr-4 h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" 
                stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                <path d="M8 12h.01M12 12h.01M16 12h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            {{ 'sidebar-left.admin' | translate }}
        </a>

        <a class="group nav-button" routerLink="/login" routerLinkActive="active" (click)="logout()">
            <svg class="mr-4 h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                <path d="M8 12h.01M12 12h.01M16 12h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            {{ 'sidebar-left.logout' | translate }}
        </a>

        <button class="bg-blue-400 hover:bg-blue-500 w-full mt-5 text-white
                    font-bold py-4 px-4 rounded-full flex-1 flex items-center justify-center" 
                (click)="trill()">
            <img src="assets\images\trill.png" class="h-8" >
        </button>
    </nav>
</div>
<!-- Navbar (left side) END -->