<!-- component -->
<section class="w-full border border-y-0 border-gray-800" style="background-color: #15202b">
  <div class="flex">
    <div class="flex-1 mx-2">
      <h2 class="px-4 py-2 text-xl font-semibold text-white">{{ 'home.label' | translate }}</h2>
    </div>
  </div>
  <hr class="border-gray-800">

  <!-- Create Trill -->
  <div class="flex">
    <div class="m-2 w-10 py-1">
      <img *ngIf="user" [src]="user.profilePic" alt="" class="inline-block h-10 w-10 rounded-full">
    </div>
    <div class="flex-1 px-2 pt-2 mt-2">
      <form #trillForm="ngForm" autocomplete="off">
        <textarea name="trillContent" [(ngModel)]="trillContent" type="text" rows="2" cols="50"
          class="bg-transparent text-gray-300 font-medium text-lg w-full"
          placeholder="{{ 'home.trill' | translate }}" [required]="!trillImage"></textarea>

        <div *ngIf="trillImageThumbnail" class="flex items-center">
          <img [src]="trillImageThumbnail" alt="Thumbnail" class="max-w-md max-h-20">
          <button class="bg-red-500 hover:bg-red-700 rounded-md text-white w-8 h-8 ml-2" (click)="removeImage()">x</button>
        </div>

        <input type="file" name="trillImage" id="selectImage" class="hidden" accept="image/*" (change)="onImageSelected($event)" />

        <!-- Photo, Emoji, and Create Trill buttons -->
        <div class="flex items-center">
          <button class="flex-1 text-center px-1 py-1 m-2" (click)="openImage()">
            <a class="mt-1 group flex items-center text-blue-400 px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-gray-800 hover:text-blue-300">
              <svg class="text-center h-7 w-6" fill="none" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" stroke="currentColor">
                <path d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
              </svg>
              <p class="ml-2">{{ 'home.photo' | translate }}</p>
            </a>
          </button>

          <div class="flex-1 text-center py-2 m-2">
            <a class="mt-1 group flex items-center text-blue-400 px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-gray-800 hover:text-blue-300">
              <svg class="text-center h-7 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                stroke="currentColor" viewBox="0 0 24 24">
                <path d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <p class="ml-2">{{ 'home.emoji' | translate }}</p>
            </a>
          </div>

          <button class="text-white font-bold py-2 px-8 rounded-full ml-4 float-left"
                  [ngClass]="{'bg-blue-400 hover:bg-blue-500 hover:brightness-90': trillForm.valid,
                              'bg-gray-400': !trillForm.valid || (!trillContent && !trillImage)}"
                  [disabled]="!trillForm.valid || (!trillContent && !trillImage)"
                  type="submit" (click)="createTrill()">
              <img src="assets\images\trill.png" class="h-5">
          </button>
        </div>
      </form>
    </div>
  </div>
  <!--Create Trill End-->
  <hr class="border-gray-800 border-4">
</section>


<div class="flex justify-center border-b-2 w-full text-center ">
  <h2 class="flex-1 px-4 py-2 text-xl font-semibold text-white border-b-4 hover:text-blue-400 hover:bg-gray-800 
  transition duration-350 ease-in-out">{{ 'home.for_you' | translate }}</h2>
  <h2 class="flex-1 px-4 py-2 text-xl font-semibold text-white hover:text-blue-400 hover:bg-gray-800 
  transition duration-350 ease-in-out">{{ 'home.following' | translate }}</h2>
</div>

<!--Feed -->
<ul class="list-none" *ngFor="let trill of trills">
  <app-trill-card [trill]="trill"></app-trill-card>
</ul>

<button class="my-4 mx-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full"
  *ngIf="pageNumber != totalPages" (click)="loadMoreTrills()">Load More
</button>
