<div class="flex">
    <section class="w-full border border-y-0 border-gray-800" >
    <!--Content (Center)-->
    <!-- Nav back-->
    <div>
        <div class="flex ">
            <div class="px-2 py-2">
                <a  class=" text-2xl font-medium rounded-full 
                text-blue-400 hover:bg-gray-800 hover:text-blue-300 float-right"
                routerLink="/home">
                <svg class="m-2 h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                    <g>
                    <path d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z">
                    </path>
                    </g>
                </svg>
                </a>
            </div>

            <div class="flex-1">
                <h2 class="my-3 text-xl font-semibold w-full text-white">{{ 'settings.label' | translate }}</h2>
            </div>
        </div>
    </div>

    <div class="ml-5" *ngIf="member">
        <hr class="border-gray-800">
        <div class="p-4 flex justify-between">
            <a class="text-2xl text-white">{{ 'settings.profile' | translate }}</a>
            
            <button class="bg-blue-500 hover:bg-blue-700 rounded-md p-2 text-white"
                (click)="editProfile(member)">{{ 'settings.edit_profile' | translate }}</button>
        </div>

        <hr class="border-gray-800">

        <!--language-->
        <div class="p-4 flex justify-between">
            <a class="text-2xl text-white">{{ 'settings.language' | translate }}</a>
            
            <div class="inline-flex items-center ">
                <!--
                <button class="bg-blue-500 hover:bg-blue-700 rounded-md p-2 text-white"
                    >{{ 'settings.change_language' | translate }}</button>
                -->
                
                <label class="inline-flex items-center mr-3" (click)="toggleLanguage(true, 'en')">
                    <input type="radio" [(ngModel)]="selectedLanguage" value="en" class="form-radio text-blue-500">
                    <span class="ml-2 text-white">English</span>
                </label>
            
                <label class="inline-flex items-center ml-6" (click)="toggleLanguage(false, 'es')">
                    <input type="radio" [(ngModel)]="selectedLanguage" value="es" class="form-radio text-blue-500">
                    <span class="ml-2 text-white">Español</span>
                </label>
            </div>
        </div>    
        <hr class="border-gray-800">


        <div class="p-4 flex justify-between">
            <a class="text-2xl text-white">{{ 'settings.password' | translate }}</a>
            
            <button class="bg-blue-500 hover:bg-blue-700 rounded-md p-2 text-white"
                (click)="notice()"
                >{{ 'settings.change_password' | translate }}</button>
        </div>

        <hr class="border-gray-800">
        <div class="p-4 flex justify-between">
            <a class="text-2xl text-white">{{ 'settings.blocked_users' | translate }}</a>
            
            <button class="bg-blue-500 hover:bg-blue-700 rounded-md p-2 text-white"
            (click)="viewBlockedUsers()">{{ 'settings.view_blocked_users' | translate }}</button>
        </div>

        <hr class="border-gray-800">
        <div class="p-4 flex justify-between">
            <a class="text-2xl text-white">{{ 'settings.privacy' | translate }}</a>
            
            <button class="bg-blue-500 hover:bg-blue-700 rounded-md p-2 text-white"
            (click)="notice()">
            {{ 'settings.make_account_private' | translate }}</button>
        </div>

        <hr class="border-gray-800">
        <div class="p-4 flex justify-between">
            <a class="text-2xl text-white">{{ 'settings.account' | translate }}</a>
            
            <button class="bg-red-500 hover:bg-red-700 rounded-md p-2 text-white" 
            (click)="notice()">
                {{ 'settings.delete_account' | translate }}</button>
        </div>

    </div>
    </section>
</div>