<!--Like Trill Notification-->
<article class="hover:bg-gray-800 transition duration-350 ease-in-out" *ngIf="notification">
    <div class="flex p-2 items-center">
        <img src="{{member?.profilePic}}" 
            alt="Profile Image" 
            class="w-10 h-10 rounded-full mx-2 hover:cursor-pointer">
        <div>
            <h2 class="text-white font-semibold text-md hover:underline hover:cursor-pointer">
            {{member?.displayname}}</h2>
            <p class="text-gray-500 text-sm">&#64;{{member?.username}}</p>
        </div>
    </div>

    <div class="px-4">
        <p class="text-base font-medium text-white ">
            {{member?.displayname}} {{content}}
        </p> 
    </div>
    <hr class="border-gray-600 mt-2">
</article>