<div class="bg-gray-800 hover:bg-gray-700 text-white p-4 
    rounded-md shadow-md flex items-center h-40 hover:cursor-pointer" 
    *ngIf="member" routerLink="/profile/{{member.username}}">

    <div class="w-36 h-36 overflow-hidden flex-shrink-0">
        <img src="{{member.profilePic}}" alt="Profile Picture" class="w-full h-full object-cover">
    </div>

    <div class="ml-4">
        <!-- Display Name -->
        <h2 class="text-xl font-bold">{{member.displayname}}</h2>

        <!-- Username -->
        <p>&#64;{{member.username}}</p>

        <!-- About Me -->
        <p>{{member.about}}</p>
    </div>
</div>